@page "/forecast"
@inherits ForecastBase


<h3>forecast</h3>


<div class="d-flex">

    @foreach (var item in forecasts)
    {
        @*<div class="card bg-light m-2" style="width:250px">
            <div class="card-body">
                <span class="h1 oi oi-rain"></span>
                <h1>17 C&deg;</h1>
                <p class="card-text">Rainy sunday</p>

            </div>
        </div>*@

        <WeatherDay DayOfWeek="item.Date.DayOfWeek" Sumary="@item.Summary" Temperature="item.TemperatureC"></WeatherDay>
    }



</div>